* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: #000000;
  color: #ffffff;
}

/* button */
.button {
  align-items: center;
  appearance: none;
  background-color: #626262;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(214, 214, 231, 0.4) 0 2px 4px,
    rgba(214, 214, 231, 0.3) 0 7px 13px -3px, rgb(45, 35, 66) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;

  transition: all 0.3s ease;
}

.button:focus {
  background-color: #515050;
  box-shadow: rgba(191, 191, 208, 0.6) 0 2px 4px,
    rgba(191, 191, 208, 0.5) 0 7px 13px -3px, rgb(28, 22, 41) 0 -3px 0 inset;

  /* box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset; */
}

.button:hover {
  background-color: #515050;
  box-shadow: rgba(191, 191, 208, 0.6) 0 2px 4px,
    rgba(191, 191, 208, 0.5) 0 7px 13px -3px, rgb(28, 22, 41) 0 -3px 0 inset;

  transform: translateY(1px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
